__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
**/migrations/*
!**/migrations/__init__.py
.env
*.env
.venv
*.venv
.venv.*
env/
venv/
ENV/
env.bak/
venv.bak/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
.idea/
.idea.*
*.idea
*.iml
out/
.idea_modules/
cmake-build-*/
*.iws
atlassian-ide-plugin.xml
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
/parts/
sdist/
var/
wheels/
share/python-wheels/
*.log
pip-log.txt
pip-delete-this-directory.txt
.webassets-cache
.scrapy
docs/_build/
.pybuilder/
target/
instance/
.ipynb_checkpoints
profile_default/
ipython_config.py
celerybeat-schedule
celerybeat.pid
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk